@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Luckiest+Guy&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Italiana&family=Luckiest+Guy&display=swap');
  
body {
    font-family: "Comic Neue", cursive;

    & h1 {
        text-align: center;
        font-family: "Luckiest Guy", cursive;
        font-weight: 400;
    }

    & main {
        display: flex;
        justify-content: center;
        gap: 10%;

        & #section1 {
            display: flex;
            flex-direction: column;
            gap: 5%;
            background-color: #f73939;
            padding: 1%;
            border-radius: 15px;
        }

        & #section2 {
            background-color: hsl(54, 98%, 50%);
            padding: 1%;
            border-radius: 15px;
        }
    }
}